import(data.table)

export(ehr_extract)
export(ehr_hdr_extract)
export(ehr_map_codes)
export(get_coding)
export(get_hdr_phenotype)
export(get_hdr_concept)
export(visit_cancer)
export(visit_conditions)
export(visit_extract)
export(visit_family_history)
export(visit_fields)
export(visit_mult_array)
export(visit_subset)
